@import 'components/components.modal';
@import 'components/components.board';
@import 'components/components.ship';
@import 'components/components.sprite';
@import 'components/components.user';

body {
  background: #717273;
  background-image: url("https://www.transparenttextures.com/patterns/dust.png");
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.table {
  font-size: 25px;
  color: #E8104A;
}

.row {
  display: flex;

}
.row, .col {
  margin: 0;
  padding: 0;

  &:last-child {
    .col {
      border-bottom: 0;
    }
  }
}

.widgets {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem;
  margin-bottom: 2.5rem;
  color: #444;
  background: #e6e6e6;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.23);
}

.turn {
  display: flex;
  align-items: center;
  margin-left: auto;
  float: right;
  vertical-align: middle;

  .svg-icon {
    margin-left: 6px;
  }
}

.svg-icon {
  vertical-align: middle;
}

@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
  }
}

@keyframes fadeOut {
  0% {
    background:rgba(0,0,0,.7);
  }
  100% {
    background:rgba(0,0,0,.0);
  }
}

@keyframes roadRunnerIn {
  0% {
    transform:translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform:translateX(30px) skewX(0deg) scaleX(.9);
  }
  100% {
    transform:translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerOut {
  0% {
    transform:translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform:translateX(-30px) skewX(-5deg) scaleX(.9);
  }
  100% {
    transform:translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

@keyframes quickScaleDown {
  0% {
    transform:scale(1);
  }
  99.9% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: #383d41;
    text-shadow:
      .25em 0 0 #383d41,
      .5em 0 0 #383d41;
  }
  40% {
    color: #e2e3e5;
    text-shadow:
      .25em 0 0 #383d41,
      .5em 0 0 #383d41;}
  60% {
    text-shadow:
      .25em 0 0 #e2e3e5,
      .5em 0 0 #383d41;}
  80%, 100% {
    text-shadow:
      .25em 0 0 #e2e3e5,
      .5em 0 0 #e2e3e5;}}
