.ship {
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
}

.ship-hook {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/hook.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.aircraft-carrier-1 {
  width: 41px;
  height: 160px;
  background-image: url("../../assets/aircraft_carrier.png");
}

.battleship-1,
.battleship-2 {
  width: 37px;
  height: 120px;
  background-image: url("../../assets/battleship.png");
}

.destroyer-1,
.destroyer-2,
.destroyer-3 {
  width: 26px;
  height: 80px;
  background-image: url("../../assets/destroyer.png");
}

.cruiser-1,
.cruiser-2,
.cruiser-3,
.cruiser-4,
.cruiser-5 {
  width: 22px;
  height: 42px;
  background-image: url("../../assets/cruiser.png");
}

.hook-aircraft-carrier-1 {
  top: 208px;
  left: 36px;
}

.hook-battleship-1 {
  top: 246px;
  left: 140px;
}

.hook-battleship-2 {
  top: 100px;
  left: 140px;
}

.hook-destroyer-1 {
  top: 280px;
  left: 246px;
}

.hook-destroyer-2 {
  top: 180px;
  left: 246px;
}

.hook-destroyer-3 {
  top: 80px;
  left: 246px;
}

.hook-cruiser-1 {
  top: 320px;
  left: 340px;
}

.hook-cruiser-2 {
  top: 258px;
  left: 340px;
}

.hook-cruiser-3 {
  top: 196px;
  left: 340px;
}

.hook-cruiser-4 {
  top: 134px;
  left: 340px;
}

.hook-cruiser-5 {
  top: 72px;
  left: 340px;
}
