.ship {
  position: absolute;
}

.aircraft-carrier {
  top: 208px;
  left: 36px;
}

.battleship-1 {
  top: 246px;
  left: 140px;
}

.battleship-2 {
  top: 100px;
  left: 140px;
}

.destroyer-1 {
  top: 280px;
  left: 246px;
}

.destroyer-2 {
  top: 180px;
  left: 246px;
}

.destroyer-3 {
  top: 80px;
  left: 246px;
}

.cruiser-1 {
  top: 320px;
  left: 340px;
}

.cruiser-2 {
  top: 258px;
  left: 340px;
}

.cruiser-3 {
  top: 196px;
  left: 340px;
}

.cruiser-4 {
  top: 134px;
  left: 340px;
}

.cruiser-5 {
  top: 72px;
  left: 340px;
}
